USE [master]
GO
/****** Object:  Database [QuanLyVeSo]    Script Date: 15/10/2025 1:52:23 CH ******/
CREATE DATABASE [QuanLyVeSo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyVeSo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\QuanLyVeSo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyVeSo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\QuanLyVeSo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyVeSo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyVeSo]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 15/10/2025 1:52:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[HoaDonID] [int] NOT NULL,
	[VeSoID] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[HoaDonID] ASC,
	[VeSoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DotXoSo]    Script Date: 15/10/2025 1:52:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DotXoSo](
	[DotXoSoID] [int] IDENTITY(1,1) NOT NULL,
	[LoaiVeSoID] [int] NULL,
	[NgayMoThuong] [date] NOT NULL,
	[TinhThanh] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DotXoSoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDichThanhToan]    Script Date: 15/10/2025 1:52:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDichThanhToan](
	[GiaoDichID] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonID] [int] NULL,
	[PhuongThuc] [nvarchar](50) NOT NULL,
	[SoTien] [decimal](15, 2) NOT NULL,
	[NgayThanhToan] [datetime2](7) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GiaoDichID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 15/10/2025 1:52:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[HoaDonID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NULL,
	[NgayLap] [datetime2](7) NULL,
	[TongTien] [decimal](15, 2) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaXoSo]    Script Date: 15/10/2025 1:52:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaXoSo](
	[KetQuaID] [int] IDENTITY(1,1) NOT NULL,
	[DotXoSoID] [int] NULL,
	[GiaiThuong] [nvarchar](50) NOT NULL,
	[SoTrungThuong] [nvarchar](255) NOT NULL,
	[GiaTriGiaiThuong] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KetQuaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 15/10/2025 1:52:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiVeSo]    Script Date: 15/10/2025 1:52:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVeSo](
	[LoaiVeSoID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[GiaVe] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiVeSoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 15/10/2025 1:52:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien_DotXoSo]    Script Date: 15/10/2025 1:52:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien_DotXoSo](
	[NhanVienID] [int] NOT NULL,
	[DotXoSoID] [int] NOT NULL,
 CONSTRAINT [PK_NhanVien_DotXoSo] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC,
	[DotXoSoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien_KetQuaXoSo]    Script Date: 15/10/2025 1:52:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien_KetQuaXoSo](
	[NhanVienID] [int] NOT NULL,
	[KetQuaID] [int] NOT NULL,
 CONSTRAINT [PK_NhanVien_KetQuaXoSo] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC,
	[KetQuaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeSo]    Script Date: 15/10/2025 1:52:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeSo](
	[VeSoID] [int] IDENTITY(1,1) NOT NULL,
	[DotXoSoID] [int] NULL,
	[SoVe] [char](6) NOT NULL,
	[TrangThai] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VeSoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([HoaDonID], [VeSoID], [SoLuong]) VALUES (1, 1, 1)
INSERT [dbo].[ChiTietHoaDon] ([HoaDonID], [VeSoID], [SoLuong]) VALUES (1, 2, 1)
INSERT [dbo].[ChiTietHoaDon] ([HoaDonID], [VeSoID], [SoLuong]) VALUES (2, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[DotXoSo] ON 

INSERT [dbo].[DotXoSo] ([DotXoSoID], [LoaiVeSoID], [NgayMoThuong], [TinhThanh]) VALUES (1, 1, CAST(N'2025-09-30' AS Date), N'Hà Nội')
INSERT [dbo].[DotXoSo] ([DotXoSoID], [LoaiVeSoID], [NgayMoThuong], [TinhThanh]) VALUES (2, 2, CAST(N'2025-09-30' AS Date), N'Đà Nẵng')
INSERT [dbo].[DotXoSo] ([DotXoSoID], [LoaiVeSoID], [NgayMoThuong], [TinhThanh]) VALUES (3, 3, CAST(N'2025-09-30' AS Date), N'Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[DotXoSo] OFF
GO
SET IDENTITY_INSERT [dbo].[GiaoDichThanhToan] ON 

INSERT [dbo].[GiaoDichThanhToan] ([GiaoDichID], [HoaDonID], [PhuongThuc], [SoTien], [NgayThanhToan], [TrangThai]) VALUES (1, 1, N'Momo', CAST(20000.00 AS Decimal(15, 2)), CAST(N'2025-09-29T14:07:46.9842496' AS DateTime2), N'ThanhCong')
INSERT [dbo].[GiaoDichThanhToan] ([GiaoDichID], [HoaDonID], [PhuongThuc], [SoTien], [NgayThanhToan], [TrangThai]) VALUES (2, 2, N'ZaloPay', CAST(10000.00 AS Decimal(15, 2)), CAST(N'2025-09-29T14:07:46.9842496' AS DateTime2), N'ChoXuLy')
SET IDENTITY_INSERT [dbo].[GiaoDichThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([HoaDonID], [KhachHangID], [NgayLap], [TongTien], [TrangThai]) VALUES (1, 1, CAST(N'2025-09-29T14:07:46.9829438' AS DateTime2), CAST(20000.00 AS Decimal(15, 2)), N'DaThanhToan')
INSERT [dbo].[HoaDon] ([HoaDonID], [KhachHangID], [NgayLap], [TongTien], [TrangThai]) VALUES (2, 2, CAST(N'2025-09-29T14:07:46.9829438' AS DateTime2), CAST(10000.00 AS Decimal(15, 2)), N'ChuaThanhToan')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KetQuaXoSo] ON 

INSERT [dbo].[KetQuaXoSo] ([KetQuaID], [DotXoSoID], [GiaiThuong], [SoTrungThuong], [GiaTriGiaiThuong]) VALUES (1, 1, N'DacBiet', N'123456', CAST(2000000000.00 AS Decimal(15, 2)))
INSERT [dbo].[KetQuaXoSo] ([KetQuaID], [DotXoSoID], [GiaiThuong], [SoTrungThuong], [GiaTriGiaiThuong]) VALUES (2, 1, N'GiaiNhat', N'654321', CAST(50000000.00 AS Decimal(15, 2)))
INSERT [dbo].[KetQuaXoSo] ([KetQuaID], [DotXoSoID], [GiaiThuong], [SoTrungThuong], [GiaTriGiaiThuong]) VALUES (3, 2, N'DacBiet', N'111111', CAST(1500000000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[KetQuaXoSo] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([KhachHangID], [TenKH], [Email], [SoDienThoai], [MatKhau], [DiaChi]) VALUES (1, N'Nguyễn Văn A', N'a@gmail.com', N'0909123456', N'123456', N'Hà Nội')
INSERT [dbo].[KhachHang] ([KhachHangID], [TenKH], [Email], [SoDienThoai], [MatKhau], [DiaChi]) VALUES (2, N'Trần Thị B', N'b@gmail.com', N'0912345678', N'abcdef', N'Hồ Chí Minh')
INSERT [dbo].[KhachHang] ([KhachHangID], [TenKH], [Email], [SoDienThoai], [MatKhau], [DiaChi]) VALUES (3, N'Lê Văn C', N'c@gmail.com', N'0923456789', N'pass123', N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiVeSo] ON 

INSERT [dbo].[LoaiVeSo] ([LoaiVeSoID], [TenLoai], [GiaVe]) VALUES (1, N'MienBac', CAST(10000.00 AS Decimal(10, 2)))
INSERT [dbo].[LoaiVeSo] ([LoaiVeSoID], [TenLoai], [GiaVe]) VALUES (2, N'MienTrung', CAST(10000.00 AS Decimal(10, 2)))
INSERT [dbo].[LoaiVeSo] ([LoaiVeSoID], [TenLoai], [GiaVe]) VALUES (3, N'MienNam', CAST(10000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[LoaiVeSo] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([NhanVienID], [TenNV], [Email], [SoDienThoai], [MatKhau], [VaiTro]) VALUES (1, N'Nguyễn Admin', N'admin@qlvs.com', N'0909000001', N'admin123', N'Admin')
INSERT [dbo].[NhanVien] ([NhanVienID], [TenNV], [Email], [SoDienThoai], [MatKhau], [VaiTro]) VALUES (2, N'Phạm Nhập', N'nhapkq@qlvs.com', N'0909000002', N'nhapkq', N'NhanVienNhapKetQua')
INSERT [dbo].[NhanVien] ([NhanVienID], [TenNV], [Email], [SoDienThoai], [MatKhau], [VaiTro]) VALUES (3, N'Hồ HỗTrợ', N'hotro@qlvs.com', N'0909000003', N'hotro', N'NhanVienKhac')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[NhanVien_DotXoSo] ([NhanVienID], [DotXoSoID]) VALUES (2, 1)
INSERT [dbo].[NhanVien_DotXoSo] ([NhanVienID], [DotXoSoID]) VALUES (2, 2)
INSERT [dbo].[NhanVien_DotXoSo] ([NhanVienID], [DotXoSoID]) VALUES (3, 3)
GO
INSERT [dbo].[NhanVien_KetQuaXoSo] ([NhanVienID], [KetQuaID]) VALUES (2, 1)
INSERT [dbo].[NhanVien_KetQuaXoSo] ([NhanVienID], [KetQuaID]) VALUES (2, 2)
INSERT [dbo].[NhanVien_KetQuaXoSo] ([NhanVienID], [KetQuaID]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[VeSo] ON 

INSERT [dbo].[VeSo] ([VeSoID], [DotXoSoID], [SoVe], [TrangThai]) VALUES (1, 1, N'123456', N'ChuaBan')
INSERT [dbo].[VeSo] ([VeSoID], [DotXoSoID], [SoVe], [TrangThai]) VALUES (2, 1, N'654321', N'ChuaBan')
INSERT [dbo].[VeSo] ([VeSoID], [DotXoSoID], [SoVe], [TrangThai]) VALUES (3, 2, N'111111', N'ChuaBan')
SET IDENTITY_INSERT [dbo].[VeSo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__0389B7BD8F7F9860]    Script Date: 15/10/2025 1:52:23 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A9D10534D179039B]    Script Date: 15/10/2025 1:52:23 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__0389B7BDAD91B53F]    Script Date: 15/10/2025 1:52:23 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__A9D1053472947839]    Script Date: 15/10/2025 1:52:23 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[GiaoDichThanhToan] ADD  DEFAULT (sysutcdatetime()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[GiaoDichThanhToan] ADD  DEFAULT ('ChoXuLy') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (sysutcdatetime()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ('ChuaThanhToan') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LoaiVeSo] ADD  DEFAULT ((10000.00)) FOR [GiaVe]
GO
ALTER TABLE [dbo].[VeSo] ADD  DEFAULT ('ChuaBan') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([HoaDonID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_VeSo] FOREIGN KEY([VeSoID])
REFERENCES [dbo].[VeSo] ([VeSoID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_VeSo]
GO
ALTER TABLE [dbo].[DotXoSo]  WITH CHECK ADD  CONSTRAINT [FK_DotXoSo_LoaiVeSo] FOREIGN KEY([LoaiVeSoID])
REFERENCES [dbo].[LoaiVeSo] ([LoaiVeSoID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DotXoSo] CHECK CONSTRAINT [FK_DotXoSo_LoaiVeSo]
GO
ALTER TABLE [dbo].[GiaoDichThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDich_HoaDon] FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([HoaDonID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GiaoDichThanhToan] CHECK CONSTRAINT [FK_GiaoDich_HoaDon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[KetQuaXoSo]  WITH CHECK ADD  CONSTRAINT [FK_KetQuaXoSo_DotXoSo] FOREIGN KEY([DotXoSoID])
REFERENCES [dbo].[DotXoSo] ([DotXoSoID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[KetQuaXoSo] CHECK CONSTRAINT [FK_KetQuaXoSo_DotXoSo]
GO
ALTER TABLE [dbo].[NhanVien_DotXoSo]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_DotXoSo_DotXoSo] FOREIGN KEY([DotXoSoID])
REFERENCES [dbo].[DotXoSo] ([DotXoSoID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien_DotXoSo] CHECK CONSTRAINT [FK_NhanVien_DotXoSo_DotXoSo]
GO
ALTER TABLE [dbo].[NhanVien_DotXoSo]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_DotXoSo_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien_DotXoSo] CHECK CONSTRAINT [FK_NhanVien_DotXoSo_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien_KetQuaXoSo]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_KetQuaXoSo_KetQua] FOREIGN KEY([KetQuaID])
REFERENCES [dbo].[KetQuaXoSo] ([KetQuaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien_KetQuaXoSo] CHECK CONSTRAINT [FK_NhanVien_KetQuaXoSo_KetQua]
GO
ALTER TABLE [dbo].[NhanVien_KetQuaXoSo]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_KetQuaXoSo_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien_KetQuaXoSo] CHECK CONSTRAINT [FK_NhanVien_KetQuaXoSo_NhanVien]
GO
ALTER TABLE [dbo].[VeSo]  WITH CHECK ADD  CONSTRAINT [FK_VeSo_DotXoSo] FOREIGN KEY([DotXoSoID])
REFERENCES [dbo].[DotXoSo] ([DotXoSoID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[VeSo] CHECK CONSTRAINT [FK_VeSo_DotXoSo]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CHK_ChiTietHoaDon_SoLuong] CHECK  (([SoLuong]=(1)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CHK_ChiTietHoaDon_SoLuong]
GO
ALTER TABLE [dbo].[GiaoDichThanhToan]  WITH CHECK ADD CHECK  (([PhuongThuc]='TheATM' OR [PhuongThuc]='ZaloPay' OR [PhuongThuc]='Momo'))
GO
ALTER TABLE [dbo].[KetQuaXoSo]  WITH CHECK ADD CHECK  (([GiaiThuong]='GiaiTam' OR [GiaiThuong]='GiaiBay' OR [GiaiThuong]='GiaiSau' OR [GiaiThuong]='GiaiNam' OR [GiaiThuong]='GiaiTu' OR [GiaiThuong]='GiaiBa' OR [GiaiThuong]='GiaiNhi' OR [GiaiThuong]='GiaiNhat' OR [GiaiThuong]='DacBiet'))
GO
ALTER TABLE [dbo].[LoaiVeSo]  WITH CHECK ADD CHECK  (([TenLoai]='MienNam' OR [TenLoai]='MienTrung' OR [TenLoai]='MienBac'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([VaiTro]='NhanVienKhac' OR [VaiTro]='NhanVienNhapKetQua' OR [VaiTro]='Admin'))
GO
ALTER TABLE [dbo].[VeSo]  WITH CHECK ADD  CONSTRAINT [CHK_VeSo_SoVe] CHECK  (([SoVe] like '[0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[VeSo] CHECK CONSTRAINT [CHK_VeSo_SoVe]
GO
USE [master]
GO
